header {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header .cabecalho__logo {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
}

header .cabecalho__logo:hover {
    background-color: var(--branco);
}

header .cabecalho__logo img {
    width: 6rem;
    height: 6rem;
}

.search__container {

    background-color: var(--cor-wt);
    width: 16rem;
    height: 2.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.search {
    display: flex;
    gap: 0.6rem;
    align-items: center;
}


.search input[type="text"] {
    background: none;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}
