header {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header .cabecalho__logo {
    width: 5rem;
    height: 5rem;
    background-color: var(--branco);
    border-radius: 100%;
    padding: 0.3rem;
}

header .cabecalho__logo img {
    width: 4.7rem;
    height: 4.7rem;
}

.search {
    background-color: var(--cor-wt);
    width: 16rem;
    height: 2.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    margin: 1rem;
}

.search input[type="text"] {
    background: none;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}
