main {
    max-height: 500px;
    padding: 14px;
    overflow-y: scroll;
    background-color: var(--cor-wt);
    border-radius: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    margin: 0 50px 90px 50px;
}

main a {
    text-decoration: none;
}

.vaga {
    width: 197.4px;
    height: 238px;
    background-color: var(--cor-bs);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 170px 20px 20px 20px;
    overflow: hidden;
    transition: padding 0.3s ease-in-out, gap 0.3s ease-in-out;
}

.vaga:hover {
    padding: 0 20px 98px 20px;
    gap: 75px;
}

.icon {
    width: 57.4px;
    height: 57.4px;
    border-radius: 100%;
    background-color: var(--branco);
    font-size: 36.4px;
    color: var(--cor-bs);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vaga__name {
    font-size: 24.5px;
    font-weight: 500;
    color: var(--branco);
}

.vaga__name_variação {
    font-size: 20px;
    font-weight: 500;
    color: var(--branco);
}



.hover {
    background-color: var(--branco);
    width: 197.4px;
    height: 102.2px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vaga__hover {
    font-weight: 500;
    font-size: 21px;
    color: var(--cor-bs);
    margin: 5px;
}

.hover img {
    width: 143.5px;
    height: 37.8px;
    margin-bottom: 10px;
}

footer {
    position: fixed;
    align-self: self-end;
    margin: 20px 20px 20px 0;
    bottom: 0;
}

footer .made {
    font-weight: 200;
    font-size: 14px;
}

footer .made a {
    text-decoration: none;
    color: aqua;

}

footer .made a:hover {
    color: var(--branco);
}