main {
    max-width: 67.8rem;
    max-height: 17rem;
    padding: 1.2rem;
    overflow-y: scroll;
    background-color: var(--cor-wt);
    border-radius: 0.875rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.9rem;
    margin: 0 6rem 2rem 6rem;
}

main a {
    text-decoration: none;
}

.vaga {
    width: 12.3375rem;
    height: 14.875rem;
    background-color: var(--cor-bs);
    border-radius: 0.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
    padding: 11rem 1.25rem 1.5rem 1.25rem;
    overflow: hidden;
    transition: padding 0.3s ease-in-out, gap 0.3s ease-in-out;
}

.vaga:hover {
    padding: 0 1.25rem 6.125rem 1.25rem;
    gap: 4.6875rem;
}

.icon {
    top: 0;
    width: 3.5875rem;
    height: 3.5875rem;
    border-radius: 100%;
    background-color: var(--branco);
    font-size: 2.275rem;
    color: var(--cor-bs);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vaga__name {
    font-size: 1.53125rem;
    font-weight: 500;
    color: var(--branco);
    text-align: center;
}

.vaga__name_variação {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--branco);
    text-align: center;

}

.hover {
    background-color: var(--branco);
    width: 12.3375rem;
    height: 6rem;
    border-end-start-radius: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vaga__hover {
    font-weight: 500;
    font-size: 1.3125rem;
    color: var(--cor-bs);
    margin: 0.3125rem;
}

.hover img {
    width: 8.96875rem;
    height: 2.3625rem;
    margin-bottom: 0.6rem;
}

footer {
    position: fixed;
    align-self: self-end;
    margin: 1.25rem 1.25rem 1.25rem 0;
    bottom: 0;
}

footer .made {
    font-weight: 200;
    font-size: 0.875rem;
}

footer .made a {
    text-decoration: none;
    color: aqua;
}

footer .made a:hover {
    color: var(--branco);
}

#none {
    color: #505050;
}

.appear {
    display: block;
}